<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <img src="/app/img/header-logo.svg" alt="logo">
            <img src="/app/img/logo-text.png" alt="">
        </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a aria-current="page" class="nav-link active" href="#">Menu</a>
                <a class="nav-link" href="#">Recipes</a>
                <a class="nav-link" href="#">Chefs</a>
                <a class="nav-link" href="#">Contacts</a>
            </div>
        </div>
    </div>

</header>


